<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../index.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form class="login-form">
        <span class="login-signup-header">Sign Up</span>
        <div class="field">
            <input type="email" placeholder="Email" required/>
        </div>
        <div class="field">
            <input type="text" placeholder="Name" required/>
        </div>
        <div class="field">
            <input type="password" placeholder="Password" required />
        </div>
        <div class="field">
            <input type="password" placeholder="Confirm Password" required />
        </div>
        <div class="field">
            <button>Register</button>
        </div>
    </form>
</body>
</html>