<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../index.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="post-wrapper" key={post._id}>
        <div class="post-header">
            <div class="post-avatar">
                <img
                        src="https://image.flaticon.com/icons/svg/2154/2154651.svg"
                        alt="user-pic"
                />
                <div>
                    <span class="post-author">First Name</span>
                    <span class="post-time">a minute ago</span>
                </div>
            </div>
            <div class="post-content">Hello How are You</div>

            <div class="post-actions">
                <div class="post-like">
                    <img
                            src="https://image.flaticon.com/icons/svg/1077/1077035.svg"
                            alt="likes-icon"
                    />
                    <span>10</span>
                </div>

                <div class="post-comments-icon">
                    <img
                            src="https://image.flaticon.com/icons/svg/1380/1380338.svg"
                            alt="comments-icon"
                    />
                    <span>20</span>
                </div>
            </div>
            <div class="post-comment-box">
                <input placeholder="Start typing a comment" />
            </div>

            <div class="post-comments-list">
                <div class="post-comments-item">
                    <div class="post-comment-header">
                        <span class="post-comment-author">Bill</span>
                        <span class="post-comment-time">a minute ago</span>
                        <span class="post-comment-likes">22</span>
                    </div>

                    <div class="post-comment-content">Random comment</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>